@font-face {
  font-family: 'gxb';
  src:  url('fonts/gxb.eot?c6tald');
  src:  url('fonts/gxb.eot?c6tald#iefix') format('embedded-opentype'),
    url('fonts/gxb.ttf?c6tald') format('truetype'),
    url('fonts/gxb.woff?c6tald') format('woff'),
    url('fonts/gxb.svg?c6tald#gxb') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="gxicon-"], [class*=" gxicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'gxb' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gxicon-loyalty:before {
  content: "\e918";
}
.gxicon-staking:before {
  content: "\e915";
}
.gxicon-my:before {
  content: "\e916";
}
.gxicon-balance:before {
  content: "\e917";
}
.gxicon-user-check:before {
  content: "\e975";
}
.gxicon-blockcity:before {
  content: "\e911";
}
.gxicon-id:before {
  content: "\e912";
}
.gxicon-miner:before {
  content: "\e913";
}
.gxicon-location:before {
  content: "\e948";
}
.gxicon-question:before {
  content: "\ea09";
}
.gxicon-chevron-right:before {
  content: "\e914";
}
.gxicon-eye:before {
  content: "\e90f";
}
.gxicon-eye-off:before {
  content: "\e910";
}
.gxicon-bind:before {
  content: "\e900";
}
.gxicon-collect:before {
  content: "\e901";
}
.gxicon-dashboard:before {
  content: "\e902";
}
.gxicon-discover:before {
  content: "\e903";
}
.gxicon-import:before {
  content: "\e904";
}
.gxicon-language:before {
  content: "\e905";
}
.gxicon-record:before {
  content: "\e906";
}
.gxicon-scan:before {
  content: "\e907";
}
.gxicon-success:before {
  content: "\e908";
}
.gxicon-transfer:before {
  content: "\e909";
}
.gxicon-user:before {
  content: "\e90a";
}
.gxicon-users:before {
  content: "\e90b";
}
.gxicon-wallet-star:before {
  content: "\e90c";
}
.gxicon-wallet:before {
  content: "\e90d";
}
.gxicon-lock:before {
  content: "\e90e";
}
