//background color
$THEME_BG_COLOR: #3d3d3b;
//title color
$THEME_TITLE_COLOR:#fff;
//bar color
$THEME_BAR_BG_COLOR: #3d3d3b;
//tint color
$THEME_TINT_COLOR: #3d3d3b;
//gxb button text color
$THEME_BUTTON_TEXT_COLOR: #fff;
//gxb button bg color
$THEME_BUTTON_BG_COLOR: #6699ff;
//gxb button bg color
$THEME_BUTTON_SECONDARY_BG_COLOR: #6981a7;
//gxb colors
$THEME_COLOR_PRIMARY:#6699ff;
$THEME_COLOR_DANGER:#ed3f14;
